USE [HRK]
GO
/****** Object:  Table [dbo].[HRK_AttributeTypes]    Script Date: 9/19/2026 7:09:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_AttributeTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsPercentage] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_BattleLogs]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_BattleLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BattleId] [nvarchar](100) NOT NULL,
	[Turn] [int] NOT NULL,
	[ActorHeroId] [bigint] NOT NULL,
	[TargetHeroId] [bigint] NOT NULL,
	[SkillId] [nvarchar](100) NOT NULL,
	[Damage] [int] NOT NULL,
	[IsCrit] [bit] NOT NULL,
	[BattleDetails] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_Blacklist]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_Blacklist](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[Token] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[Reason] [nvarchar](255) NULL,
	[ExpireAt] [datetimeoffset](7) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_CategoryAllowedAttributes]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_CategoryAllowedAttributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[AttributeTypeId] [int] NOT NULL,
	[IsMainStat] [bit] NOT NULL,
	[IsSubStat] [bit] NOT NULL,
	[MinValue] [decimal](18, 4) NULL,
	[MaxValue] [decimal](18, 4) NULL,
	[DisplayOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_CombatPowerConfigs]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_CombatPowerConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatCode] [nvarchar](40) NOT NULL,
	[PowerPerUnit] [decimal](18, 4) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[UpdatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HRK_CombatPowerConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_EnhancementLevelConfigs]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_EnhancementLevelConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentLevel] [int] NOT NULL,
	[NextLevel] [int] NOT NULL,
	[BaseSuccessRate] [decimal](8, 4) NOT NULL,
	[GoldCost] [int] NOT NULL,
	[FailureDropLevels] [int] NOT NULL,
	[MaxStoneSlots] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_EnhancementMaterials]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_EnhancementMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemTemplateId] [int] NOT NULL,
	[MaterialType] [nvarchar](30) NOT NULL,
	[SuccessRateBonus] [decimal](8, 4) NOT NULL,
	[PreventLevelDrop] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_EquipmentEnhancementHistory]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_EquipmentEnhancementHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [uniqueidentifier] NOT NULL,
	[PlayerId] [bigint] NOT NULL,
	[PlayerInventoryId] [bigint] NOT NULL,
	[ItemTemplateId] [int] NOT NULL,
	[OldEnhancement] [int] NOT NULL,
	[TargetEnhancement] [int] NOT NULL,
	[NewEnhancement] [int] NOT NULL,
	[BaseSuccessRate] [decimal](8, 4) NOT NULL,
	[StoneBonusRate] [decimal](8, 4) NOT NULL,
	[CharmBonusRate] [decimal](8, 4) NOT NULL,
	[FinalSuccessRate] [decimal](8, 4) NOT NULL,
	[IsSuccess] [bit] NOT NULL,
	[FailureDropLevels] [int] NOT NULL,
	[WasLevelProtected] [bit] NOT NULL,
	[GoldCost] [int] NOT NULL,
	[UsedMaterialsJson] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_GameFeatureConfigs]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_GameFeatureConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](80) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[ParentFeatureId] [int] NULL,
	[Placement] [nvarchar](40) NOT NULL,
	[ActionCode] [nvarchar](80) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[HasNotification] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[UpdatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HRK_GameFeatureConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_HeroAuraConfigs]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_HeroAuraConfigs](
	[AuraTier] [tinyint] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[RequiredStars] [int] NOT NULL,
	[GoldCost] [bigint] NOT NULL,
	[MaterialCost] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HRK_HeroAuraConfigs] PRIMARY KEY CLUSTERED 
(
	[AuraTier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_HeroClasses]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_HeroClasses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_HeroFactions]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_HeroFactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_HeroLevelConfigs]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_HeroLevelConfigs](
	[Level] [int] NOT NULL,
	[RequiredExp] [int] NOT NULL,
	[GoldCost] [bigint] NOT NULL,
	[MaterialCost] [int] NOT NULL,
	[PowerIncrease] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HRK_HeroLevelConfigs] PRIMARY KEY CLUSTERED 
(
	[Level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_HeroRarityUpgradeConfigs]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_HeroRarityUpgradeConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RarityId] [int] NOT NULL,
	[StatGrowthRate] [decimal](10, 6) NOT NULL,
	[BaseGoldCost] [bigint] NOT NULL,
	[GoldCostPerLevel] [bigint] NOT NULL,
	[BaseMaterialCost] [int] NOT NULL,
	[MaterialCostPerLevel] [int] NOT NULL,
	[MaxLevel] [int] NOT NULL,
	[UpdatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HRK_HeroRarityUpgradeConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_HeroSkills]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_HeroSkills](
	[HeroTemplateId] [int] NOT NULL,
	[SkillId] [nvarchar](100) NOT NULL,
	[SkillOrder] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HeroTemplateId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_HeroTemplates]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_HeroTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](255) NOT NULL,
	[FactionId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[RarityId] [int] NOT NULL,
	[BaseHp] [int] NOT NULL,
	[BaseAtk] [int] NOT NULL,
	[BaseDef] [int] NOT NULL,
	[BaseSpd] [int] NOT NULL,
	[BaseCrit] [decimal](5, 2) NOT NULL,
	[BaseCritDmg] [decimal](5, 2) NOT NULL,
	[BaseLifesteal] [decimal](5, 2) NOT NULL,
	[BaseAccuracy] [decimal](5, 2) NOT NULL,
	[BaseResistance] [decimal](5, 2) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[BaseMagicDamage] [int] NOT NULL,
	[BaseMagicResistance] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_ItemCategories]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_ItemCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsEquipment] [bit] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_ItemTemplateAttributes]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_ItemTemplateAttributes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemTemplateId] [int] NOT NULL,
	[AttributeTypeId] [int] NOT NULL,
	[Value] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_ItemTemplates]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_ItemTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[Rarity] [nvarchar](20) NOT NULL,
	[LevelReq] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BaseStats] [nvarchar](max) NULL,
	[IsStackable] [bit] NOT NULL,
	[MaxStackSize] [int] NOT NULL,
	[SellPrice] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[RarityId] [int] NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
	[Code] [nvarchar](100) NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[MetadataJson] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_LoginSessions]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_LoginSessions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[AccessToken] [nvarchar](max) NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](512) NULL,
	[LoginTime] [datetime] NOT NULL,
	[LogoutTime] [datetime] NULL,
	[IsActive]  AS (case when [LogoutTime] IS NULL then (1) else (0) end),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_PlayerEquipment]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_PlayerEquipment](
	[PlayerId] [bigint] NOT NULL,
	[HeroId] [bigint] NOT NULL,
	[WeaponId] [bigint] NULL,
	[ArmorId] [bigint] NULL,
	[HelmetId] [bigint] NULL,
	[BootsId] [bigint] NULL,
	[RingId] [bigint] NULL,
	[ArtifactId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC,
	[HeroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_PlayerFormations]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_PlayerFormations](
	[PlayerId] [bigint] NOT NULL,
	[FormationName] [nvarchar](50) NOT NULL,
	[Position1] [bigint] NULL,
	[Position2] [bigint] NULL,
	[Position3] [bigint] NULL,
	[Position4] [bigint] NULL,
	[Position5] [bigint] NULL,
	[TotalPower] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC,
	[FormationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_PlayerHeroes]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_PlayerHeroes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PlayerId] [bigint] NOT NULL,
	[HeroTemplateId] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[Exp] [int] NOT NULL,
	[MaxExp] [int] NOT NULL,
	[Stars] [int] NOT NULL,
	[Power] [int] NOT NULL,
	[AuraTier] [tinyint] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[IsFavorite] [bit] NOT NULL,
	[CurrentStats] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_PlayerInventory]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_PlayerInventory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PlayerId] [bigint] NOT NULL,
	[ItemTemplateId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Enhancement] [int] NOT NULL,
	[Stars] [int] NOT NULL,
	[IsEquipped] [bit] NOT NULL,
	[EquippedHeroId] [bigint] NULL,
	[IsLocked] [bit] NOT NULL,
	[SlotIndex] [int] NULL,
	[CurrentStats] [nvarchar](max) NULL,
	[AcquiredOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_Players]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_Players](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[PlayerName] [nvarchar](100) NOT NULL,
	[Level] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_PlayerWallets]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_PlayerWallets](
	[PlayerId] [bigint] NOT NULL,
	[Gold] [bigint] NOT NULL,
	[Diamonds] [int] NOT NULL,
	[UpgradeMaterials] [int] NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_Rarities]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_Rarities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ColorHex] [nvarchar](20) NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_RefreshTokens]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_RefreshTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[TokenHash] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedByIp] [nvarchar](45) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[RevokedAt] [datetime] NULL,
	[RevokedByIp] [nvarchar](45) NULL,
	[ReplacedByTokenHash] [nvarchar](256) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_RoleClaims]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_Roles]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_SkillCategories]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_SkillCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_SkillCostTypes]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_SkillCostTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_SkillDamageTypes]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_SkillDamageTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_SkillEffectTypes]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_SkillEffectTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsDebuff] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_SkillTemplates]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_SkillTemplates](
	[Id] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Icon] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Cost] [int] NOT NULL,
	[CostTypeId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[DamageTypeId] [int] NOT NULL,
	[EffectTypeId] [int] NOT NULL,
	[DamageMultiplier] [decimal](5, 2) NOT NULL,
	[TargetType] [nvarchar](50) NOT NULL,
	[Cooldown] [nvarchar](20) NOT NULL,
	[PhaseDurations] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_UserClaims]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_UserLogins]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_UserRoles]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_Users]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_Users](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FullName] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRK_UserTokens]    Script Date: 9/19/2026 7:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRK_UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HRK_AttributeTypes] ON 

INSERT [dbo].[HRK_AttributeTypes] ([Id], [Code], [Name], [IsPercentage], [DisplayOrder], [Description], [CreatedOn], [UpdatedOn]) VALUES (1, N'HP', N'Sinh Mệnh', 0, 1, N'Điểm máu cơ bản của nhân vật', CAST(N'2026-09-13T03:51:02.763' AS DateTime), CAST(N'2026-09-18T17:43:09.993' AS DateTime))
INSERT [dbo].[HRK_AttributeTypes] ([Id], [Code], [Name], [IsPercentage], [DisplayOrder], [Description], [CreatedOn], [UpdatedOn]) VALUES (2, N'PHYSICAL_ATK', N'Sát Thương Vật Lý', 0, 2, N'Gây sát thương vật lý lên kẻ địch', CAST(N'2026-09-13T03:51:02.763' AS DateTime), CAST(N'2026-09-18T17:43:09.993' AS DateTime))
INSERT [dbo].[HRK_AttributeTypes] ([Id], [Code], [Name], [IsPercentage], [DisplayOrder], [Description], [CreatedOn], [UpdatedOn]) VALUES (3, N'MAGIC_ATK', N'Sát Thương Phép', 0, 3, N'Gây sát thương phép thuật lên kẻ địch', CAST(N'2026-09-13T03:51:02.763' AS DateTime), CAST(N'2026-09-18T17:43:09.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_AttributeTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_CategoryAllowedAttributes] ON 

INSERT [dbo].[HRK_CategoryAllowedAttributes] ([Id], [CategoryId], [AttributeTypeId], [IsMainStat], [IsSubStat], [MinValue], [MaxValue], [DisplayOrder]) VALUES (1, 12, 1, 1, 0, NULL, NULL, 0)
INSERT [dbo].[HRK_CategoryAllowedAttributes] ([Id], [CategoryId], [AttributeTypeId], [IsMainStat], [IsSubStat], [MinValue], [MaxValue], [DisplayOrder]) VALUES (2, 12, 2, 1, 0, NULL, NULL, 0)
INSERT [dbo].[HRK_CategoryAllowedAttributes] ([Id], [CategoryId], [AttributeTypeId], [IsMainStat], [IsSubStat], [MinValue], [MaxValue], [DisplayOrder]) VALUES (3, 12, 4, 0, 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[HRK_CategoryAllowedAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_CombatPowerConfigs] ON 

INSERT [dbo].[HRK_CombatPowerConfigs] ([Id], [StatCode], [PowerPerUnit], [IsEnabled], [DisplayOrder], [UpdatedOn]) VALUES (1, N'HP', CAST(0.0500 AS Decimal(18, 4)), 1, 10, CAST(N'2026-09-18T18:38:41.3125528' AS DateTime2))
INSERT [dbo].[HRK_CombatPowerConfigs] ([Id], [StatCode], [PowerPerUnit], [IsEnabled], [DisplayOrder], [UpdatedOn]) VALUES (2, N'ATK', CAST(1.5000 AS Decimal(18, 4)), 1, 20, CAST(N'2026-09-18T18:38:41.3125528' AS DateTime2))
INSERT [dbo].[HRK_CombatPowerConfigs] ([Id], [StatCode], [PowerPerUnit], [IsEnabled], [DisplayOrder], [UpdatedOn]) VALUES (3, N'DEF', CAST(1.0000 AS Decimal(18, 4)), 1, 30, CAST(N'2026-09-18T18:38:41.3125528' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HRK_CombatPowerConfigs] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_EnhancementLevelConfigs] ON 

INSERT [dbo].[HRK_EnhancementLevelConfigs] ([Id], [CurrentLevel], [NextLevel], [BaseSuccessRate], [GoldCost], [FailureDropLevels], [MaxStoneSlots], [CreatedOn], [UpdatedOn]) VALUES (1, 0, 1, CAST(1.0000 AS Decimal(8, 4)), 500, 0, 3, CAST(N'2026-09-13T04:26:11.823' AS DateTime), CAST(N'2026-09-13T04:26:11.823' AS DateTime))
INSERT [dbo].[HRK_EnhancementLevelConfigs] ([Id], [CurrentLevel], [NextLevel], [BaseSuccessRate], [GoldCost], [FailureDropLevels], [MaxStoneSlots], [CreatedOn], [UpdatedOn]) VALUES (2, 1, 2, CAST(0.9500 AS Decimal(8, 4)), 750, 0, 3, CAST(N'2026-09-13T04:26:11.823' AS DateTime), CAST(N'2026-09-13T04:26:11.823' AS DateTime))
INSERT [dbo].[HRK_EnhancementLevelConfigs] ([Id], [CurrentLevel], [NextLevel], [BaseSuccessRate], [GoldCost], [FailureDropLevels], [MaxStoneSlots], [CreatedOn], [UpdatedOn]) VALUES (3, 2, 3, CAST(0.9000 AS Decimal(8, 4)), 1000, 0, 3, CAST(N'2026-09-13T04:26:11.823' AS DateTime), CAST(N'2026-09-13T04:26:11.823' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_EnhancementLevelConfigs] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_EnhancementMaterials] ON 

INSERT [dbo].[HRK_EnhancementMaterials] ([Id], [ItemTemplateId], [MaterialType], [SuccessRateBonus], [PreventLevelDrop], [CreatedOn], [UpdatedOn]) VALUES (1, 2102, N'CHARM', CAST(0.2000 AS Decimal(8, 4)), 0, CAST(N'2026-09-13T04:26:11.897' AS DateTime), CAST(N'2026-09-13T04:26:11.897' AS DateTime))
INSERT [dbo].[HRK_EnhancementMaterials] ([Id], [ItemTemplateId], [MaterialType], [SuccessRateBonus], [PreventLevelDrop], [CreatedOn], [UpdatedOn]) VALUES (2, 2103, N'CHARM', CAST(0.1000 AS Decimal(8, 4)), 0, CAST(N'2026-09-13T04:26:11.897' AS DateTime), CAST(N'2026-09-13T04:26:11.897' AS DateTime))
INSERT [dbo].[HRK_EnhancementMaterials] ([Id], [ItemTemplateId], [MaterialType], [SuccessRateBonus], [PreventLevelDrop], [CreatedOn], [UpdatedOn]) VALUES (3, 2104, N'CHARM', CAST(0.0000 AS Decimal(8, 4)), 1, CAST(N'2026-09-13T04:26:11.897' AS DateTime), CAST(N'2026-09-13T04:26:11.897' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_EnhancementMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_EquipmentEnhancementHistory] ON 

SET IDENTITY_INSERT [dbo].[HRK_EquipmentEnhancementHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_GameFeatureConfigs] ON 

INSERT [dbo].[HRK_GameFeatureConfigs] ([Id], [Code], [Name], [Icon], [ParentFeatureId], [Placement], [ActionCode], [DisplayOrder], [IsEnabled], [IsLocked], [HasNotification], [CreatedOn], [UpdatedOn]) VALUES (1, N'FIRST_TOP_UP', N'Nạp đầu', N'bi-gift-fill', NULL, N'TOP_EVENT', N'FIRST_TOP_UP', 10, 1, 0, 1, CAST(N'2026-09-18T18:38:41.2872703' AS DateTime2), CAST(N'2026-09-18T18:38:41.2872703' AS DateTime2))
INSERT [dbo].[HRK_GameFeatureConfigs] ([Id], [Code], [Name], [Icon], [ParentFeatureId], [Placement], [ActionCode], [DisplayOrder], [IsEnabled], [IsLocked], [HasNotification], [CreatedOn], [UpdatedOn]) VALUES (2, N'SUMMON', N'Chiêu mộ', N'bi-people-fill', NULL, N'TOP_EVENT', N'SUMMON', 20, 1, 0, 1, CAST(N'2026-09-18T18:38:41.2872703' AS DateTime2), CAST(N'2026-09-18T18:38:41.2872703' AS DateTime2))
INSERT [dbo].[HRK_GameFeatureConfigs] ([Id], [Code], [Name], [Icon], [ParentFeatureId], [Placement], [ActionCode], [DisplayOrder], [IsEnabled], [IsLocked], [HasNotification], [CreatedOn], [UpdatedOn]) VALUES (3, N'EVENTS', N'Sự kiện', N'bi-calendar-event-fill', NULL, N'TOP_EVENT', N'EVENTS', 30, 1, 0, 1, CAST(N'2026-09-18T18:38:41.2872703' AS DateTime2), CAST(N'2026-09-18T18:38:41.2872703' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HRK_GameFeatureConfigs] OFF
GO
INSERT [dbo].[HRK_HeroAuraConfigs] ([AuraTier], [Name], [Description], [RequiredStars], [GoldCost], [MaterialCost], [CreatedOn]) VALUES (1, N'Hào Quang Xanh Băng', N'Tầng hào quang cơ bản.', 1, 0, 0, CAST(N'2026-09-17T19:29:19.3577352' AS DateTime2))
INSERT [dbo].[HRK_HeroAuraConfigs] ([AuraTier], [Name], [Description], [RequiredStars], [GoldCost], [MaterialCost], [CreatedOn]) VALUES (2, N'Hào Quang Tím Hắc Ám', N'Tầng hào quang nâng cao.', 3, 50000, 50, CAST(N'2026-09-17T19:29:19.3577352' AS DateTime2))
INSERT [dbo].[HRK_HeroAuraConfigs] ([AuraTier], [Name], [Description], [RequiredStars], [GoldCost], [MaterialCost], [CreatedOn]) VALUES (3, N'Hoàng Kim Thần Điện', N'Tầng hào quang hiếm.', 5, 150000, 150, CAST(N'2026-09-17T19:29:19.3577352' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[HRK_HeroClasses] ON 

INSERT [dbo].[HRK_HeroClasses] ([Id], [Code], [Name], [Icon], [DisplayOrder], [CreatedOn]) VALUES (1, N'Tanker', N'Đỡ Đòn', N'bi-shield', 1, CAST(N'2026-08-22T02:40:23.923' AS DateTime))
INSERT [dbo].[HRK_HeroClasses] ([Id], [Code], [Name], [Icon], [DisplayOrder], [CreatedOn]) VALUES (2, N'Warrior', N'Chiến Sĩ', N'bi-sword', 2, CAST(N'2026-08-22T02:40:23.923' AS DateTime))
INSERT [dbo].[HRK_HeroClasses] ([Id], [Code], [Name], [Icon], [DisplayOrder], [CreatedOn]) VALUES (3, N'Assassin', N'Sát Thủ', N'bi-lightning-fill', 3, CAST(N'2026-08-22T02:40:23.923' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_HeroClasses] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_HeroFactions] ON 

INSERT [dbo].[HRK_HeroFactions] ([Id], [Code], [Name], [Icon], [DisplayOrder], [CreatedOn]) VALUES (1, N'Thuc', N'Thục', N'bi-shield-fill-check', 1, CAST(N'2026-08-22T02:40:23.923' AS DateTime))
INSERT [dbo].[HRK_HeroFactions] ([Id], [Code], [Name], [Icon], [DisplayOrder], [CreatedOn]) VALUES (2, N'Nguy', N'Ngụy', N'bi-shield-shaded', 2, CAST(N'2026-08-22T02:40:23.923' AS DateTime))
INSERT [dbo].[HRK_HeroFactions] ([Id], [Code], [Name], [Icon], [DisplayOrder], [CreatedOn]) VALUES (3, N'Ngo', N'Ngô', N'bi-shield-fill', 3, CAST(N'2026-08-22T02:40:23.923' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_HeroFactions] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_HeroRarityUpgradeConfigs] ON 

INSERT [dbo].[HRK_HeroRarityUpgradeConfigs] ([Id], [RarityId], [StatGrowthRate], [BaseGoldCost], [GoldCostPerLevel], [BaseMaterialCost], [MaterialCostPerLevel], [MaxLevel], [UpdatedOn]) VALUES (1, 2, CAST(0.020000 AS Decimal(10, 6)), 1000, 250, 10, 2, 100, CAST(N'2026-09-18T19:00:30.9684978' AS DateTime2))
INSERT [dbo].[HRK_HeroRarityUpgradeConfigs] ([Id], [RarityId], [StatGrowthRate], [BaseGoldCost], [GoldCostPerLevel], [BaseMaterialCost], [MaterialCostPerLevel], [MaxLevel], [UpdatedOn]) VALUES (2, 3, CAST(0.030000 AS Decimal(10, 6)), 1200, 300, 12, 2, 100, CAST(N'2026-09-18T19:00:30.9684978' AS DateTime2))
INSERT [dbo].[HRK_HeroRarityUpgradeConfigs] ([Id], [RarityId], [StatGrowthRate], [BaseGoldCost], [GoldCostPerLevel], [BaseMaterialCost], [MaterialCostPerLevel], [MaxLevel], [UpdatedOn]) VALUES (3, 4, CAST(0.040000 AS Decimal(10, 6)), 1500, 350, 15, 3, 100, CAST(N'2026-09-18T19:00:30.9684978' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HRK_HeroRarityUpgradeConfigs] OFF
GO
INSERT [dbo].[HRK_HeroSkills] ([HeroTemplateId], [SkillId], [SkillOrder]) VALUES (1, N'HEAVENLY_JUDGMENT', 1)
INSERT [dbo].[HRK_HeroSkills] ([HeroTemplateId], [SkillId], [SkillOrder]) VALUES (1, N'ULTIMATE_SIXPACK', 2)
INSERT [dbo].[HRK_HeroSkills] ([HeroTemplateId], [SkillId], [SkillOrder]) VALUES (2, N'HEAVY_SLASH', 2)
GO
SET IDENTITY_INSERT [dbo].[HRK_HeroTemplates] ON 

INSERT [dbo].[HRK_HeroTemplates] ([Id], [Name], [Avatar], [FactionId], [ClassId], [RarityId], [BaseHp], [BaseAtk], [BaseDef], [BaseSpd], [BaseCrit], [BaseCritDmg], [BaseLifesteal], [BaseAccuracy], [BaseResistance], [CreatedOn], [BaseMagicDamage], [BaseMagicResistance]) VALUES (1, N'K Cởi Trần', N'/assets/images/dcs-game/kiet.png', 1, 2, 4, 1000, 150, 80, 120, CAST(15.00 AS Decimal(5, 2)), CAST(150.00 AS Decimal(5, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(85.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-08-22T02:46:16.843' AS DateTime), 40, 70)
INSERT [dbo].[HRK_HeroTemplates] ([Id], [Name], [Avatar], [FactionId], [ClassId], [RarityId], [BaseHp], [BaseAtk], [BaseDef], [BaseSpd], [BaseCrit], [BaseCritDmg], [BaseLifesteal], [BaseAccuracy], [BaseResistance], [CreatedOn], [BaseMagicDamage], [BaseMagicResistance]) VALUES (2, N'Nam Deadline', N'/assets/images/dcs-game/trg-kiet-covid.png', 1, 3, 3, 900, 140, 70, 115, CAST(12.00 AS Decimal(5, 2)), CAST(150.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-08-22T02:46:16.843' AS DateTime), 50, 50)
INSERT [dbo].[HRK_HeroTemplates] ([Id], [Name], [Avatar], [FactionId], [ClassId], [RarityId], [BaseHp], [BaseAtk], [BaseDef], [BaseSpd], [BaseCrit], [BaseCritDmg], [BaseLifesteal], [BaseAccuracy], [BaseResistance], [CreatedOn], [BaseMagicDamage], [BaseMagicResistance]) VALUES (3, N'Chuẩn Men', N'/assets/images/dcs-game/ricardo-milos.png', 1, 1, 3, 1100, 120, 100, 100, CAST(5.00 AS Decimal(5, 2)), CAST(150.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), CAST(15.00 AS Decimal(5, 2)), CAST(N'2026-08-22T02:46:16.843' AS DateTime), 30, 180)
SET IDENTITY_INSERT [dbo].[HRK_HeroTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_ItemCategories] ON 

INSERT [dbo].[HRK_ItemCategories] ([Id], [Code], [Name], [Icon], [DisplayOrder], [IsEquipment], [Description], [CreatedOn], [UpdatedOn]) VALUES (12, N'WEAPON', N'Vũ Khí', N'bi-sword', 1, 1, NULL, CAST(N'2026-08-22T02:19:48.790' AS DateTime), CAST(N'2026-08-22T02:19:48.790' AS DateTime))
INSERT [dbo].[HRK_ItemCategories] ([Id], [Code], [Name], [Icon], [DisplayOrder], [IsEquipment], [Description], [CreatedOn], [UpdatedOn]) VALUES (13, N'ARMOR', N'Giáp Vai / Ngực', N'bi-suit-armor', 2, 1, NULL, CAST(N'2026-08-22T02:19:48.790' AS DateTime), CAST(N'2026-08-22T02:19:48.790' AS DateTime))
INSERT [dbo].[HRK_ItemCategories] ([Id], [Code], [Name], [Icon], [DisplayOrder], [IsEquipment], [Description], [CreatedOn], [UpdatedOn]) VALUES (14, N'HELMET', N'Mũ Khải Giáp', N'bi-shield-shaded', 3, 1, NULL, CAST(N'2026-08-22T02:19:48.790' AS DateTime), CAST(N'2026-08-22T02:19:48.790' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_ItemCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_ItemTemplateAttributes] ON 

INSERT [dbo].[HRK_ItemTemplateAttributes] ([Id], [ItemTemplateId], [AttributeTypeId], [Value]) VALUES (1, 101, 2, CAST(450.0000 AS Decimal(18, 4)))
INSERT [dbo].[HRK_ItemTemplateAttributes] ([Id], [ItemTemplateId], [AttributeTypeId], [Value]) VALUES (2, 101, 4, CAST(0.1500 AS Decimal(18, 4)))
INSERT [dbo].[HRK_ItemTemplateAttributes] ([Id], [ItemTemplateId], [AttributeTypeId], [Value]) VALUES (3, 102, 2, CAST(210.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[HRK_ItemTemplateAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_ItemTemplates] ON 

SET IDENTITY_INSERT [dbo].[HRK_ItemTemplates] OFF
GO
INSERT [dbo].[HRK_LoginSessions] ([Id], [UserId], [SessionId], [AccessToken], [RefreshToken], [IPAddress], [UserAgent], [LoginTime], [LogoutTime]) VALUES (N'3714dc7c-34ff-499e-ac12-01dceaaf37ba', N'8fb5679f-7b5e-43f1-87bd-192122e449fa', N'1155773c-1f82-4a1c-8bbc-6620be9adf36', NULL, NULL, N'::ffff:172.19.0.4', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/151.0.0.0 Safari/537.36 OPR/135.0.0.0', CAST(N'2026-09-18T17:44:37.133' AS DateTime), CAST(N'2026-09-18T17:55:49.187' AS DateTime))
INSERT [dbo].[HRK_LoginSessions] ([Id], [UserId], [SessionId], [AccessToken], [RefreshToken], [IPAddress], [UserAgent], [LoginTime], [LogoutTime]) VALUES (N'85ff11ad-1ddc-47c1-a2b7-04646935a265', N'8fb5679f-7b5e-43f1-87bd-192122e449fa', N'5f54b1d6-77f7-4769-857e-ea9a9d1c906f', NULL, NULL, N'::ffff:172.18.0.4', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/151.0.0.0 Safari/537.36 OPR/135.0.0.0', CAST(N'2026-09-17T18:56:24.607' AS DateTime), CAST(N'2026-09-17T18:57:02.017' AS DateTime))
INSERT [dbo].[HRK_LoginSessions] ([Id], [UserId], [SessionId], [AccessToken], [RefreshToken], [IPAddress], [UserAgent], [LoginTime], [LogoutTime]) VALUES (N'3b73688d-b2ef-4b7c-9143-047eed494826', N'8fb5679f-7b5e-43f1-87bd-192122e449fa', N'0753df32-00b4-4d13-8577-f5cfcd44a0b8', NULL, NULL, N'::ffff:172.18.0.4', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/151.0.0.0 Safari/537.36 OPR/135.0.0.0', CAST(N'2026-09-11T20:52:15.097' AS DateTime), CAST(N'2026-09-12T17:53:26.100' AS DateTime))
GO
INSERT [dbo].[HRK_PlayerEquipment] ([PlayerId], [HeroId], [WeaponId], [ArmorId], [HelmetId], [BootsId], [RingId], [ArtifactId]) VALUES (1, 1, 3, 32, 37, 41, 44, 49)
INSERT [dbo].[HRK_PlayerEquipment] ([PlayerId], [HeroId], [WeaponId], [ArmorId], [HelmetId], [BootsId], [RingId], [ArtifactId]) VALUES (1, 3, 26, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HRK_PlayerEquipment] ([PlayerId], [HeroId], [WeaponId], [ArmorId], [HelmetId], [BootsId], [RingId], [ArtifactId]) VALUES (1, 9, NULL, 30, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[HRK_PlayerHeroes] ON 

INSERT [dbo].[HRK_PlayerHeroes] ([Id], [PlayerId], [HeroTemplateId], [Level], [Exp], [MaxExp], [Stars], [Power], [AuraTier], [IsLocked], [IsFavorite], [CurrentStats], [CreatedOn], [UpdatedOn], [IsActive]) VALUES (1, 1, 1, 12, 0, 1600, 1, 830, 1, 0, 0, N'{"Hp":1440,"Atk":216,"Def":115,"Spd":173,"Crit":21.60,"CritDmg":216.00,"Lifesteal":7.20,"Accuracy":122.40,"Resistance":14.40}', CAST(N'2026-09-17T19:37:17.187' AS DateTime), CAST(N'2026-09-18T19:02:03.977' AS DateTime), 1)
INSERT [dbo].[HRK_PlayerHeroes] ([Id], [PlayerId], [HeroTemplateId], [Level], [Exp], [MaxExp], [Stars], [Power], [AuraTier], [IsLocked], [IsFavorite], [CurrentStats], [CreatedOn], [UpdatedOn], [IsActive]) VALUES (2, 1, 2, 1, 0, 500, 1, 765, 1, 0, 0, NULL, CAST(N'2026-09-17T19:37:17.187' AS DateTime), CAST(N'2026-09-17T19:37:17.187' AS DateTime), 1)
INSERT [dbo].[HRK_PlayerHeroes] ([Id], [PlayerId], [HeroTemplateId], [Level], [Exp], [MaxExp], [Stars], [Power], [AuraTier], [IsLocked], [IsFavorite], [CurrentStats], [CreatedOn], [UpdatedOn], [IsActive]) VALUES (3, 1, 3, 1, 0, 500, 1, 770, 1, 0, 0, NULL, CAST(N'2026-09-17T19:37:17.187' AS DateTime), CAST(N'2026-09-17T19:37:17.187' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HRK_PlayerHeroes] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_PlayerInventory] ON 

INSERT [dbo].[HRK_PlayerInventory] ([Id], [PlayerId], [ItemTemplateId], [Count], [Enhancement], [Stars], [IsEquipped], [EquippedHeroId], [IsLocked], [SlotIndex], [CurrentStats], [AcquiredOn], [UpdatedOn], [IsActive]) VALUES (1, 1, 101, 1, 10, 2, 1, 501, 0, NULL, N'{"PHYSICAL_ATK":972.000000,"CRIT_RATE":0.180000}', CAST(N'2026-08-22T02:22:42.263' AS DateTime), CAST(N'2026-09-13T03:51:03.233' AS DateTime), 1)
INSERT [dbo].[HRK_PlayerInventory] ([Id], [PlayerId], [ItemTemplateId], [Count], [Enhancement], [Stars], [IsEquipped], [EquippedHeroId], [IsLocked], [SlotIndex], [CurrentStats], [AcquiredOn], [UpdatedOn], [IsActive]) VALUES (2, 1, 102, 1, 5, 0, 0, NULL, 0, 0, N'{"PHYSICAL_ATK":294.000000,"CRIT_RATE":0.088000,"SPEED":16.800000}', CAST(N'2026-08-22T02:22:42.263' AS DateTime), CAST(N'2026-09-13T03:51:03.233' AS DateTime), 1)
INSERT [dbo].[HRK_PlayerInventory] ([Id], [PlayerId], [ItemTemplateId], [Count], [Enhancement], [Stars], [IsEquipped], [EquippedHeroId], [IsLocked], [SlotIndex], [CurrentStats], [AcquiredOn], [UpdatedOn], [IsActive]) VALUES (3, 1, 103, 1, 15, 3, 1, 1, 0, 1, N'{"PHYSICAL_ATK":2802.800000,"CRIT_RATE":0.325000,"SPEED":42.900000}', CAST(N'2026-08-22T02:22:42.263' AS DateTime), CAST(N'2026-09-17T20:08:46.800' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HRK_PlayerInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_Players] ON 

INSERT [dbo].[HRK_Players] ([Id], [UserId], [PlayerName], [Level], [CreatedOn], [UpdatedOn], [IsActive]) VALUES (1, N'8fb5679f-7b5e-43f1-87bd-192122e449fa', N'HeroPlayer01', 35, CAST(N'2026-08-22T02:19:15.087' AS DateTime), CAST(N'2026-08-22T02:19:15.087' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HRK_Players] OFF
GO
INSERT [dbo].[HRK_PlayerWallets] ([PlayerId], [Gold], [Diamonds], [UpgradeMaterials], [MaxCapacity], [UpdatedOn]) VALUES (1, 1109250, 2500, 20, 200, CAST(N'2026-09-18T19:02:03.977' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[HRK_Rarities] ON 

INSERT [dbo].[HRK_Rarities] ([Id], [Code], [Name], [ColorHex], [DisplayOrder], [CreatedOn]) VALUES (1, N'Common', N'Phổ Thông', N'#9e9e9e', 1, CAST(N'2026-08-22T02:40:23.920' AS DateTime))
INSERT [dbo].[HRK_Rarities] ([Id], [Code], [Name], [ColorHex], [DisplayOrder], [CreatedOn]) VALUES (2, N'Rare', N'Hiếm', N'#2196f3', 2, CAST(N'2026-08-22T02:40:23.920' AS DateTime))
INSERT [dbo].[HRK_Rarities] ([Id], [Code], [Name], [ColorHex], [DisplayOrder], [CreatedOn]) VALUES (3, N'Epic', N'Sử Thi', N'#9c27b0', 3, CAST(N'2026-08-22T02:40:23.920' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_Rarities] OFF
GO
INSERT [dbo].[HRK_RefreshTokens] ([Id], [UserId], [SessionId], [TokenHash], [CreatedAt], [CreatedByIp], [ExpiresAt], [RevokedAt], [RevokedByIp], [ReplacedByTokenHash]) VALUES (N'80bbdb1d-9810-4743-9123-016ac9e3be2d', N'8fb5679f-7b5e-43f1-87bd-192122e449fa', N'a699ea28-db45-45c9-822a-fa1f82cbd00e', N'LAcehF+GrAVdtaBj4Uz9SrXdLUr1HYlllMWFuBKQbbE=', CAST(N'2026-09-18T20:19:25.863' AS DateTime), N'::ffff:172.19.0.4', CAST(N'2026-09-25T20:19:25.863' AS DateTime), CAST(N'2026-09-18T20:20:27.917' AS DateTime), N'::ffff:172.19.0.4', N'5RfDQJe4JQRPNl5MkKaHlyuexEvrRdxfRitMyiAgCeY=')
INSERT [dbo].[HRK_RefreshTokens] ([Id], [UserId], [SessionId], [TokenHash], [CreatedAt], [CreatedByIp], [ExpiresAt], [RevokedAt], [RevokedByIp], [ReplacedByTokenHash]) VALUES (N'340e20c9-241d-4872-82a8-0764bc79d399', N'8fb5679f-7b5e-43f1-87bd-192122e449fa', N'8fd36216-ec4c-4d4c-9fdf-e893796e0911', N'Eeu9b6Vyu5fT7Ut/1cpPWa5r9ye3yeS1xHOop9inBvA=', CAST(N'2026-09-17T18:51:28.007' AS DateTime), N'::ffff:172.18.0.4', CAST(N'2026-09-24T18:51:28.007' AS DateTime), CAST(N'2026-09-17T18:51:28.100' AS DateTime), NULL, NULL)
INSERT [dbo].[HRK_RefreshTokens] ([Id], [UserId], [SessionId], [TokenHash], [CreatedAt], [CreatedByIp], [ExpiresAt], [RevokedAt], [RevokedByIp], [ReplacedByTokenHash]) VALUES (N'a41a965c-98a0-4c3d-aa88-094ad0c45be5', N'8fb5679f-7b5e-43f1-87bd-192122e449fa', N'022d5b66-33d3-40ea-8ac4-47d399d55a37', N'u/s5djQ26wXNAe1ru+nKCiMFnOK9c/EFANFGgfy7tk8=', CAST(N'2026-09-12T21:19:44.710' AS DateTime), N'::ffff:172.18.0.4', CAST(N'2026-09-19T21:19:44.710' AS DateTime), CAST(N'2026-09-12T21:20:01.727' AS DateTime), N'::ffff:172.18.0.4', N'LrNL9bVZ6gUhFjVI6po17jY/91Uby8+ThNTYu1mfE0Q=')
GO
SET IDENTITY_INSERT [dbo].[HRK_SkillCategories] ON 

INSERT [dbo].[HRK_SkillCategories] ([Id], [Code], [Name], [DisplayOrder], [CreatedOn]) VALUES (1, N'basic', N'Đòn Đánh Thường', 1, CAST(N'2026-08-22T02:40:23.927' AS DateTime))
INSERT [dbo].[HRK_SkillCategories] ([Id], [Code], [Name], [DisplayOrder], [CreatedOn]) VALUES (2, N'rage', N'Tuyệt Kỹ Nộ', 2, CAST(N'2026-08-22T02:40:23.927' AS DateTime))
INSERT [dbo].[HRK_SkillCategories] ([Id], [Code], [Name], [DisplayOrder], [CreatedOn]) VALUES (3, N'thunder', N'Lôi Điện Kích', 3, CAST(N'2026-08-22T02:40:23.927' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_SkillCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_SkillCostTypes] ON 

INSERT [dbo].[HRK_SkillCostTypes] ([Id], [Code], [Name], [CreatedOn]) VALUES (1, N'MP', N'Năng Lượng (MP)', CAST(N'2026-08-22T02:40:23.923' AS DateTime))
INSERT [dbo].[HRK_SkillCostTypes] ([Id], [Code], [Name], [CreatedOn]) VALUES (2, N'Rage', N'Nộ Khí (Rage)', CAST(N'2026-08-22T02:40:23.923' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_SkillCostTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_SkillDamageTypes] ON 

INSERT [dbo].[HRK_SkillDamageTypes] ([Id], [Code], [Name], [CreatedOn]) VALUES (1, N'Physical', N'Vật Lý', CAST(N'2026-08-22T02:40:23.927' AS DateTime))
INSERT [dbo].[HRK_SkillDamageTypes] ([Id], [Code], [Name], [CreatedOn]) VALUES (2, N'Magic', N'Phép Thuật', CAST(N'2026-08-22T02:40:23.927' AS DateTime))
INSERT [dbo].[HRK_SkillDamageTypes] ([Id], [Code], [Name], [CreatedOn]) VALUES (3, N'Support', N'Hỗ Trợ', CAST(N'2026-08-22T02:40:23.927' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_SkillDamageTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[HRK_SkillEffectTypes] ON 

INSERT [dbo].[HRK_SkillEffectTypes] ([Id], [Code], [Name], [IsDebuff], [CreatedOn]) VALUES (1, N'Burn', N'Thiêu Đốt', 1, CAST(N'2026-08-22T02:40:23.930' AS DateTime))
INSERT [dbo].[HRK_SkillEffectTypes] ([Id], [Code], [Name], [IsDebuff], [CreatedOn]) VALUES (2, N'Stun', N'Choáng', 1, CAST(N'2026-08-22T02:40:23.930' AS DateTime))
INSERT [dbo].[HRK_SkillEffectTypes] ([Id], [Code], [Name], [IsDebuff], [CreatedOn]) VALUES (3, N'Poison', N'Trúng Độc', 1, CAST(N'2026-08-22T02:40:23.930' AS DateTime))
SET IDENTITY_INSERT [dbo].[HRK_SkillEffectTypes] OFF
GO
INSERT [dbo].[HRK_SkillTemplates] ([Id], [Name], [Icon], [Description], [Cost], [CostTypeId], [CategoryId], [DamageTypeId], [EffectTypeId], [DamageMultiplier], [TargetType], [Cooldown], [PhaseDurations], [CreatedOn]) VALUES (N'AUTOMATION_TEST', N'Test Tự Động', N'bi-cpu-fill', N'Tester tự động hóa kiểm thử liên tục.', 0, 1, 1, 1, 8, CAST(1.20 AS Decimal(5, 2)), N'single', N'0s', NULL, CAST(N'2026-08-22T02:45:43.907' AS DateTime))
INSERT [dbo].[HRK_SkillTemplates] ([Id], [Name], [Icon], [Description], [Cost], [CostTypeId], [CategoryId], [DamageTypeId], [EffectTypeId], [DamageMultiplier], [TargetType], [Cooldown], [PhaseDurations], [CreatedOn]) VALUES (N'CHANGE_REQUIREMENT', N'Đổi Yêu Cầu Gấp', N'bi-arrow-repeat', N'Client đổi yêu cầu phút chót gây sát thương tinh thần cực lớn.', 35, 1, 2, 2, 10, CAST(1.50 AS Decimal(5, 2)), N'single', N'3s', NULL, CAST(N'2026-08-22T02:45:43.907' AS DateTime))
INSERT [dbo].[HRK_SkillTemplates] ([Id], [Name], [Icon], [Description], [Cost], [CostTypeId], [CategoryId], [DamageTypeId], [EffectTypeId], [DamageMultiplier], [TargetType], [Cooldown], [PhaseDurations], [CreatedOn]) VALUES (N'CLOSE_JIRA', N'Đóng Task Jira!', N'bi-check-circle-fill', N'K cởi trần đóng task Jira kết thúc dự án thành công.', 80, 1, 4, 5, 8, CAST(3.00 AS Decimal(5, 2)), N'single', N'5s', NULL, CAST(N'2026-08-22T02:45:43.907' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HRK_Attr__A25C5AA7B70F308E]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_AttributeTypes] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HRK_CategoryAllowedAttributes]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_CategoryAllowedAttributes] ADD  CONSTRAINT [UQ_HRK_CategoryAllowedAttributes] UNIQUE NONCLUSTERED 
(
	[CategoryId] ASC,
	[AttributeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_HRK_CombatPowerConfigs_StatCode]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_CombatPowerConfigs] ADD  CONSTRAINT [UQ_HRK_CombatPowerConfigs_StatCode] UNIQUE NONCLUSTERED 
(
	[StatCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HRK_EnhancementLevelConfigs_CurrentLevel]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_EnhancementLevelConfigs] ADD  CONSTRAINT [UQ_HRK_EnhancementLevelConfigs_CurrentLevel] UNIQUE NONCLUSTERED 
(
	[CurrentLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HRK_EnhancementMaterials_ItemTemplateId]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_EnhancementMaterials] ADD  CONSTRAINT [UQ_HRK_EnhancementMaterials_ItemTemplateId] UNIQUE NONCLUSTERED 
(
	[ItemTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HRK_EquipmentEnhancementHistory_RequestId]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_EquipmentEnhancementHistory] ADD  CONSTRAINT [UQ_HRK_EquipmentEnhancementHistory_RequestId] UNIQUE NONCLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_HRK_GameFeatureConfigs_Code]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_GameFeatureConfigs] ADD  CONSTRAINT [UQ_HRK_GameFeatureConfigs_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HRK_Hero__A25C5AA750D8E687]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_HeroClasses] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HRK_Hero__A25C5AA714A43B10]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_HeroFactions] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HRK_HeroRarityUpgradeConfigs_RarityId]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_HeroRarityUpgradeConfigs] ADD  CONSTRAINT [UQ_HRK_HeroRarityUpgradeConfigs_RarityId] UNIQUE NONCLUSTERED 
(
	[RarityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HRK_Item__A25C5AA731ED2FA8]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_ItemCategories] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HRK_ItemTemplateAttributes]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_ItemTemplateAttributes] ADD  CONSTRAINT [UQ_HRK_ItemTemplateAttributes] UNIQUE NONCLUSTERED 
(
	[ItemTemplateId] ASC,
	[AttributeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_HRK_Players_PlayerName]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_Players] ADD  CONSTRAINT [UQ_HRK_Players_PlayerName] UNIQUE NONCLUSTERED 
(
	[PlayerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_HRK_Players_UserId]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_Players] ADD  CONSTRAINT [UQ_HRK_Players_UserId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HRK_Rari__A25C5AA7D28AB8F3]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_Rarities] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HRK_Skil__A25C5AA7F97B6807]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_SkillCategories] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HRK_Skil__A25C5AA714ACE856]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_SkillCostTypes] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HRK_Skil__A25C5AA79E306C7D]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_SkillDamageTypes] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HRK_Skil__A25C5AA781EC096B]    Script Date: 9/19/2026 7:09:44 AM ******/
ALTER TABLE [dbo].[HRK_SkillEffectTypes] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HRK_AttributeTypes] ADD  DEFAULT ((0)) FOR [IsPercentage]
GO
ALTER TABLE [dbo].[HRK_AttributeTypes] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[HRK_AttributeTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_AttributeTypes] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_BattleLogs] ADD  DEFAULT ((0)) FOR [Damage]
GO
ALTER TABLE [dbo].[HRK_BattleLogs] ADD  DEFAULT ((0)) FOR [IsCrit]
GO
ALTER TABLE [dbo].[HRK_BattleLogs] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_Blacklist] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HRK_Blacklist] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HRK_Blacklist] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HRK_CategoryAllowedAttributes] ADD  DEFAULT ((0)) FOR [IsMainStat]
GO
ALTER TABLE [dbo].[HRK_CategoryAllowedAttributes] ADD  DEFAULT ((0)) FOR [IsSubStat]
GO
ALTER TABLE [dbo].[HRK_CategoryAllowedAttributes] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[HRK_CombatPowerConfigs] ADD  CONSTRAINT [DF_HRK_CombatPowerConfigs_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[HRK_CombatPowerConfigs] ADD  CONSTRAINT [DF_HRK_CombatPowerConfigs_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[HRK_CombatPowerConfigs] ADD  CONSTRAINT [DF_HRK_CombatPowerConfigs_UpdatedOn]  DEFAULT (sysutcdatetime()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_EnhancementLevelConfigs] ADD  DEFAULT ((0)) FOR [FailureDropLevels]
GO
ALTER TABLE [dbo].[HRK_EnhancementLevelConfigs] ADD  DEFAULT ((3)) FOR [MaxStoneSlots]
GO
ALTER TABLE [dbo].[HRK_EnhancementLevelConfigs] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_EnhancementLevelConfigs] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_EnhancementMaterials] ADD  DEFAULT ((0)) FOR [SuccessRateBonus]
GO
ALTER TABLE [dbo].[HRK_EnhancementMaterials] ADD  DEFAULT ((0)) FOR [PreventLevelDrop]
GO
ALTER TABLE [dbo].[HRK_EnhancementMaterials] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_EnhancementMaterials] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_EquipmentEnhancementHistory] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_GameFeatureConfigs] ADD  CONSTRAINT [DF_HRK_GameFeatureConfigs_Placement]  DEFAULT ('NONE') FOR [Placement]
GO
ALTER TABLE [dbo].[HRK_GameFeatureConfigs] ADD  CONSTRAINT [DF_HRK_GameFeatureConfigs_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[HRK_GameFeatureConfigs] ADD  CONSTRAINT [DF_HRK_GameFeatureConfigs_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[HRK_GameFeatureConfigs] ADD  CONSTRAINT [DF_HRK_GameFeatureConfigs_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[HRK_GameFeatureConfigs] ADD  CONSTRAINT [DF_HRK_GameFeatureConfigs_HasNotification]  DEFAULT ((0)) FOR [HasNotification]
GO
ALTER TABLE [dbo].[HRK_GameFeatureConfigs] ADD  CONSTRAINT [DF_HRK_GameFeatureConfigs_CreatedOn]  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_GameFeatureConfigs] ADD  CONSTRAINT [DF_HRK_GameFeatureConfigs_UpdatedOn]  DEFAULT (sysutcdatetime()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_HeroAuraConfigs] ADD  CONSTRAINT [DF_HRK_HeroAuraConfigs_RequiredStars]  DEFAULT ((1)) FOR [RequiredStars]
GO
ALTER TABLE [dbo].[HRK_HeroAuraConfigs] ADD  CONSTRAINT [DF_HRK_HeroAuraConfigs_GoldCost]  DEFAULT ((0)) FOR [GoldCost]
GO
ALTER TABLE [dbo].[HRK_HeroAuraConfigs] ADD  CONSTRAINT [DF_HRK_HeroAuraConfigs_MaterialCost]  DEFAULT ((0)) FOR [MaterialCost]
GO
ALTER TABLE [dbo].[HRK_HeroAuraConfigs] ADD  CONSTRAINT [DF_HRK_HeroAuraConfigs_CreatedOn]  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_HeroClasses] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[HRK_HeroClasses] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_HeroFactions] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[HRK_HeroFactions] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_HeroLevelConfigs] ADD  CONSTRAINT [DF_HRK_HeroLevelConfigs_GoldCost]  DEFAULT ((0)) FOR [GoldCost]
GO
ALTER TABLE [dbo].[HRK_HeroLevelConfigs] ADD  CONSTRAINT [DF_HRK_HeroLevelConfigs_MaterialCost]  DEFAULT ((0)) FOR [MaterialCost]
GO
ALTER TABLE [dbo].[HRK_HeroLevelConfigs] ADD  CONSTRAINT [DF_HRK_HeroLevelConfigs_PowerIncrease]  DEFAULT ((0)) FOR [PowerIncrease]
GO
ALTER TABLE [dbo].[HRK_HeroLevelConfigs] ADD  CONSTRAINT [DF_HRK_HeroLevelConfigs_CreatedOn]  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_HeroRarityUpgradeConfigs] ADD  CONSTRAINT [DF_HRK_HeroRarityUpgradeConfigs_MaxLevel]  DEFAULT ((100)) FOR [MaxLevel]
GO
ALTER TABLE [dbo].[HRK_HeroRarityUpgradeConfigs] ADD  CONSTRAINT [DF_HRK_HeroRarityUpgradeConfigs_UpdatedOn]  DEFAULT (sysutcdatetime()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_HeroSkills] ADD  DEFAULT ((1)) FOR [SkillOrder]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT ((1000)) FOR [BaseHp]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT ((150)) FOR [BaseAtk]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT ((80)) FOR [BaseDef]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT ((100)) FOR [BaseSpd]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT ((5.0)) FOR [BaseCrit]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT ((150.0)) FOR [BaseCritDmg]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT ((0.0)) FOR [BaseLifesteal]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT ((80.0)) FOR [BaseAccuracy]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT ((10.0)) FOR [BaseResistance]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  CONSTRAINT [DF_HRK_HeroTemplates_BaseMagicDamage]  DEFAULT ((0)) FOR [BaseMagicDamage]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] ADD  CONSTRAINT [DF_HRK_HeroTemplates_BaseMagicResistance]  DEFAULT ((0)) FOR [BaseMagicResistance]
GO
ALTER TABLE [dbo].[HRK_ItemCategories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[HRK_ItemCategories] ADD  DEFAULT ((0)) FOR [IsEquipment]
GO
ALTER TABLE [dbo].[HRK_ItemCategories] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_ItemCategories] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_ItemTemplates] ADD  DEFAULT ((1)) FOR [LevelReq]
GO
ALTER TABLE [dbo].[HRK_ItemTemplates] ADD  DEFAULT ((0)) FOR [IsStackable]
GO
ALTER TABLE [dbo].[HRK_ItemTemplates] ADD  DEFAULT ((1)) FOR [MaxStackSize]
GO
ALTER TABLE [dbo].[HRK_ItemTemplates] ADD  DEFAULT ((100)) FOR [SellPrice]
GO
ALTER TABLE [dbo].[HRK_ItemTemplates] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_ItemTemplates] ADD  CONSTRAINT [DF_HRK_ItemTemplates_UpdatedOn]  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_LoginSessions] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HRK_LoginSessions] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] ADD  DEFAULT (N'Main Team') FOR [FormationName]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] ADD  DEFAULT ((0)) FOR [TotalPower]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] ADD  CONSTRAINT [DF_HRK_PlayerFormations_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT ((0)) FOR [Exp]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT ((500)) FOR [MaxExp]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT ((1)) FOR [Stars]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT ((1000)) FOR [Power]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT ((1)) FOR [AuraTier]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT ((0)) FOR [IsFavorite]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] ADD  CONSTRAINT [DF_HRK_PlayerHeroes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] ADD  DEFAULT ((1)) FOR [Count]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] ADD  DEFAULT ((0)) FOR [Enhancement]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] ADD  DEFAULT ((0)) FOR [Stars]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] ADD  DEFAULT ((0)) FOR [IsEquipped]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] ADD  DEFAULT (getdate()) FOR [AcquiredOn]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] ADD  CONSTRAINT [DF_HRK_PlayerInventory_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HRK_Players] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[HRK_Players] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_Players] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_Players] ADD  CONSTRAINT [DF_HRK_Players_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HRK_PlayerWallets] ADD  DEFAULT ((0)) FOR [Gold]
GO
ALTER TABLE [dbo].[HRK_PlayerWallets] ADD  DEFAULT ((0)) FOR [Diamonds]
GO
ALTER TABLE [dbo].[HRK_PlayerWallets] ADD  DEFAULT ((0)) FOR [UpgradeMaterials]
GO
ALTER TABLE [dbo].[HRK_PlayerWallets] ADD  DEFAULT ((200)) FOR [MaxCapacity]
GO
ALTER TABLE [dbo].[HRK_PlayerWallets] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[HRK_Rarities] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[HRK_Rarities] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_RefreshTokens] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HRK_RefreshTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HRK_RefreshTokens] ADD  DEFAULT (N'') FOR [CreatedByIp]
GO
ALTER TABLE [dbo].[HRK_SkillCategories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[HRK_SkillCategories] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_SkillCostTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_SkillDamageTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_SkillEffectTypes] ADD  DEFAULT ((0)) FOR [IsDebuff]
GO
ALTER TABLE [dbo].[HRK_SkillEffectTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] ADD  DEFAULT ((1.0)) FOR [DamageMultiplier]
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] ADD  DEFAULT ('single') FOR [TargetType]
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] ADD  DEFAULT ('0s') FOR [Cooldown]
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[HRK_BattleLogs]  WITH CHECK ADD  CONSTRAINT [FK_HRK_BattleLogs_Skill] FOREIGN KEY([SkillId])
REFERENCES [dbo].[HRK_SkillTemplates] ([Id])
GO
ALTER TABLE [dbo].[HRK_BattleLogs] CHECK CONSTRAINT [FK_HRK_BattleLogs_Skill]
GO
ALTER TABLE [dbo].[HRK_CategoryAllowedAttributes]  WITH CHECK ADD  CONSTRAINT [FK_HRK_CategoryAllowedAttributes_AttributeType] FOREIGN KEY([AttributeTypeId])
REFERENCES [dbo].[HRK_AttributeTypes] ([Id])
GO
ALTER TABLE [dbo].[HRK_CategoryAllowedAttributes] CHECK CONSTRAINT [FK_HRK_CategoryAllowedAttributes_AttributeType]
GO
ALTER TABLE [dbo].[HRK_CategoryAllowedAttributes]  WITH CHECK ADD  CONSTRAINT [FK_HRK_CategoryAllowedAttributes_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[HRK_ItemCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_CategoryAllowedAttributes] CHECK CONSTRAINT [FK_HRK_CategoryAllowedAttributes_Category]
GO
ALTER TABLE [dbo].[HRK_EnhancementMaterials]  WITH CHECK ADD  CONSTRAINT [FK_HRK_EnhancementMaterials_ItemTemplates] FOREIGN KEY([ItemTemplateId])
REFERENCES [dbo].[HRK_ItemTemplates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_EnhancementMaterials] CHECK CONSTRAINT [FK_HRK_EnhancementMaterials_ItemTemplates]
GO
ALTER TABLE [dbo].[HRK_GameFeatureConfigs]  WITH CHECK ADD  CONSTRAINT [FK_HRK_GameFeatureConfigs_Parent] FOREIGN KEY([ParentFeatureId])
REFERENCES [dbo].[HRK_GameFeatureConfigs] ([Id])
GO
ALTER TABLE [dbo].[HRK_GameFeatureConfigs] CHECK CONSTRAINT [FK_HRK_GameFeatureConfigs_Parent]
GO
ALTER TABLE [dbo].[HRK_HeroRarityUpgradeConfigs]  WITH CHECK ADD  CONSTRAINT [FK_HRK_HeroRarityUpgradeConfigs_Rarity] FOREIGN KEY([RarityId])
REFERENCES [dbo].[HRK_Rarities] ([Id])
GO
ALTER TABLE [dbo].[HRK_HeroRarityUpgradeConfigs] CHECK CONSTRAINT [FK_HRK_HeroRarityUpgradeConfigs_Rarity]
GO
ALTER TABLE [dbo].[HRK_HeroSkills]  WITH CHECK ADD  CONSTRAINT [FK_HRK_HeroSkills_Skill] FOREIGN KEY([SkillId])
REFERENCES [dbo].[HRK_SkillTemplates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_HeroSkills] CHECK CONSTRAINT [FK_HRK_HeroSkills_Skill]
GO
ALTER TABLE [dbo].[HRK_HeroSkills]  WITH CHECK ADD  CONSTRAINT [FK_HRK_HeroSkills_Template] FOREIGN KEY([HeroTemplateId])
REFERENCES [dbo].[HRK_HeroTemplates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_HeroSkills] CHECK CONSTRAINT [FK_HRK_HeroSkills_Template]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates]  WITH CHECK ADD  CONSTRAINT [FK_HRK_HeroTemplates_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[HRK_HeroClasses] ([Id])
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] CHECK CONSTRAINT [FK_HRK_HeroTemplates_Class]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates]  WITH CHECK ADD  CONSTRAINT [FK_HRK_HeroTemplates_Faction] FOREIGN KEY([FactionId])
REFERENCES [dbo].[HRK_HeroFactions] ([Id])
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] CHECK CONSTRAINT [FK_HRK_HeroTemplates_Faction]
GO
ALTER TABLE [dbo].[HRK_HeroTemplates]  WITH CHECK ADD  CONSTRAINT [FK_HRK_HeroTemplates_Rarity] FOREIGN KEY([RarityId])
REFERENCES [dbo].[HRK_Rarities] ([Id])
GO
ALTER TABLE [dbo].[HRK_HeroTemplates] CHECK CONSTRAINT [FK_HRK_HeroTemplates_Rarity]
GO
ALTER TABLE [dbo].[HRK_ItemTemplateAttributes]  WITH CHECK ADD  CONSTRAINT [FK_HRK_ItemTemplateAttributes_AttributeType] FOREIGN KEY([AttributeTypeId])
REFERENCES [dbo].[HRK_AttributeTypes] ([Id])
GO
ALTER TABLE [dbo].[HRK_ItemTemplateAttributes] CHECK CONSTRAINT [FK_HRK_ItemTemplateAttributes_AttributeType]
GO
ALTER TABLE [dbo].[HRK_ItemTemplateAttributes]  WITH CHECK ADD  CONSTRAINT [FK_HRK_ItemTemplateAttributes_ItemTemplate] FOREIGN KEY([ItemTemplateId])
REFERENCES [dbo].[HRK_ItemTemplates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_ItemTemplateAttributes] CHECK CONSTRAINT [FK_HRK_ItemTemplateAttributes_ItemTemplate]
GO
ALTER TABLE [dbo].[HRK_ItemTemplates]  WITH CHECK ADD  CONSTRAINT [FK_HRK_ItemTemplates_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[HRK_ItemCategories] ([Id])
GO
ALTER TABLE [dbo].[HRK_ItemTemplates] CHECK CONSTRAINT [FK_HRK_ItemTemplates_Category]
GO
ALTER TABLE [dbo].[HRK_ItemTemplates]  WITH CHECK ADD  CONSTRAINT [FK_HRK_ItemTemplates_Rarity] FOREIGN KEY([RarityId])
REFERENCES [dbo].[HRK_Rarities] ([Id])
GO
ALTER TABLE [dbo].[HRK_ItemTemplates] CHECK CONSTRAINT [FK_HRK_ItemTemplates_Rarity]
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerEquipment_Armor] FOREIGN KEY([ArmorId])
REFERENCES [dbo].[HRK_PlayerInventory] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment] CHECK CONSTRAINT [FK_HRK_PlayerEquipment_Armor]
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerEquipment_Artifact] FOREIGN KEY([ArtifactId])
REFERENCES [dbo].[HRK_PlayerInventory] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment] CHECK CONSTRAINT [FK_HRK_PlayerEquipment_Artifact]
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerEquipment_Boots] FOREIGN KEY([BootsId])
REFERENCES [dbo].[HRK_PlayerInventory] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment] CHECK CONSTRAINT [FK_HRK_PlayerEquipment_Boots]
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerEquipment_Helmet] FOREIGN KEY([HelmetId])
REFERENCES [dbo].[HRK_PlayerInventory] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment] CHECK CONSTRAINT [FK_HRK_PlayerEquipment_Helmet]
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerEquipment_Player] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[HRK_Players] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment] CHECK CONSTRAINT [FK_HRK_PlayerEquipment_Player]
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerEquipment_Ring] FOREIGN KEY([RingId])
REFERENCES [dbo].[HRK_PlayerInventory] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment] CHECK CONSTRAINT [FK_HRK_PlayerEquipment_Ring]
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerEquipment_Weapon] FOREIGN KEY([WeaponId])
REFERENCES [dbo].[HRK_PlayerInventory] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerEquipment] CHECK CONSTRAINT [FK_HRK_PlayerEquipment_Weapon]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerFormations_Player] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[HRK_Players] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] CHECK CONSTRAINT [FK_HRK_PlayerFormations_Player]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerFormations_Pos1] FOREIGN KEY([Position1])
REFERENCES [dbo].[HRK_PlayerHeroes] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] CHECK CONSTRAINT [FK_HRK_PlayerFormations_Pos1]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerFormations_Pos2] FOREIGN KEY([Position2])
REFERENCES [dbo].[HRK_PlayerHeroes] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] CHECK CONSTRAINT [FK_HRK_PlayerFormations_Pos2]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerFormations_Pos3] FOREIGN KEY([Position3])
REFERENCES [dbo].[HRK_PlayerHeroes] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] CHECK CONSTRAINT [FK_HRK_PlayerFormations_Pos3]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerFormations_Pos4] FOREIGN KEY([Position4])
REFERENCES [dbo].[HRK_PlayerHeroes] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] CHECK CONSTRAINT [FK_HRK_PlayerFormations_Pos4]
GO
ALTER TABLE [dbo].[HRK_PlayerFormations]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerFormations_Pos5] FOREIGN KEY([Position5])
REFERENCES [dbo].[HRK_PlayerHeroes] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerFormations] CHECK CONSTRAINT [FK_HRK_PlayerFormations_Pos5]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerHeroes_Player] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[HRK_Players] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] CHECK CONSTRAINT [FK_HRK_PlayerHeroes_Player]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerHeroes_Template] FOREIGN KEY([HeroTemplateId])
REFERENCES [dbo].[HRK_HeroTemplates] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] CHECK CONSTRAINT [FK_HRK_PlayerHeroes_Template]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerInventory_Player] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[HRK_Players] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] CHECK CONSTRAINT [FK_HRK_PlayerInventory_Player]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerInventory_Template] FOREIGN KEY([ItemTemplateId])
REFERENCES [dbo].[HRK_ItemTemplates] ([Id])
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] CHECK CONSTRAINT [FK_HRK_PlayerInventory_Template]
GO
ALTER TABLE [dbo].[HRK_Players]  WITH CHECK ADD  CONSTRAINT [FK_HRK_Players_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[HRK_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_Players] CHECK CONSTRAINT [FK_HRK_Players_Users]
GO
ALTER TABLE [dbo].[HRK_PlayerWallets]  WITH CHECK ADD  CONSTRAINT [FK_HRK_PlayerWallets_Player] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[HRK_Players] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_PlayerWallets] CHECK CONSTRAINT [FK_HRK_PlayerWallets_Player]
GO
ALTER TABLE [dbo].[HRK_RoleClaims]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[HRK_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_SkillTemplates]  WITH CHECK ADD  CONSTRAINT [FK_HRK_SkillTemplates_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[HRK_SkillCategories] ([Id])
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] CHECK CONSTRAINT [FK_HRK_SkillTemplates_Category]
GO
ALTER TABLE [dbo].[HRK_SkillTemplates]  WITH CHECK ADD  CONSTRAINT [FK_HRK_SkillTemplates_CostType] FOREIGN KEY([CostTypeId])
REFERENCES [dbo].[HRK_SkillCostTypes] ([Id])
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] CHECK CONSTRAINT [FK_HRK_SkillTemplates_CostType]
GO
ALTER TABLE [dbo].[HRK_SkillTemplates]  WITH CHECK ADD  CONSTRAINT [FK_HRK_SkillTemplates_DamageType] FOREIGN KEY([DamageTypeId])
REFERENCES [dbo].[HRK_SkillDamageTypes] ([Id])
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] CHECK CONSTRAINT [FK_HRK_SkillTemplates_DamageType]
GO
ALTER TABLE [dbo].[HRK_SkillTemplates]  WITH CHECK ADD  CONSTRAINT [FK_HRK_SkillTemplates_EffectType] FOREIGN KEY([EffectTypeId])
REFERENCES [dbo].[HRK_SkillEffectTypes] ([Id])
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] CHECK CONSTRAINT [FK_HRK_SkillTemplates_EffectType]
GO
ALTER TABLE [dbo].[HRK_UserClaims]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[HRK_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_UserLogins]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[HRK_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[HRK_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_UserRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[HRK_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_UserTokens]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[HRK_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HRK_BattleLogs]  WITH CHECK ADD  CONSTRAINT [CHK_HRK_BattleLogs_Details_JSON] CHECK  (([BattleDetails] IS NULL OR isjson([BattleDetails])=(1)))
GO
ALTER TABLE [dbo].[HRK_BattleLogs] CHECK CONSTRAINT [CHK_HRK_BattleLogs_Details_JSON]
GO
ALTER TABLE [dbo].[HRK_HeroAuraConfigs]  WITH CHECK ADD  CONSTRAINT [CK_HRK_HeroAuraConfigs_Cost] CHECK  (([RequiredStars]>=(1) AND [GoldCost]>=(0) AND [MaterialCost]>=(0)))
GO
ALTER TABLE [dbo].[HRK_HeroAuraConfigs] CHECK CONSTRAINT [CK_HRK_HeroAuraConfigs_Cost]
GO
ALTER TABLE [dbo].[HRK_HeroAuraConfigs]  WITH CHECK ADD  CONSTRAINT [CK_HRK_HeroAuraConfigs_Tier] CHECK  (([AuraTier]>=(1) AND [AuraTier]<=(4)))
GO
ALTER TABLE [dbo].[HRK_HeroAuraConfigs] CHECK CONSTRAINT [CK_HRK_HeroAuraConfigs_Tier]
GO
ALTER TABLE [dbo].[HRK_HeroLevelConfigs]  WITH CHECK ADD  CONSTRAINT [CK_HRK_HeroLevelConfigs_Cost] CHECK  (([RequiredExp]>=(0) AND [GoldCost]>=(0) AND [MaterialCost]>=(0)))
GO
ALTER TABLE [dbo].[HRK_HeroLevelConfigs] CHECK CONSTRAINT [CK_HRK_HeroLevelConfigs_Cost]
GO
ALTER TABLE [dbo].[HRK_HeroLevelConfigs]  WITH CHECK ADD  CONSTRAINT [CK_HRK_HeroLevelConfigs_Level] CHECK  (([Level]>=(1)))
GO
ALTER TABLE [dbo].[HRK_HeroLevelConfigs] CHECK CONSTRAINT [CK_HRK_HeroLevelConfigs_Level]
GO
ALTER TABLE [dbo].[HRK_ItemTemplates]  WITH CHECK ADD  CONSTRAINT [CHK_HRK_ItemTemplates_BaseStats_JSON] CHECK  (([BaseStats] IS NULL OR isjson([BaseStats])=(1)))
GO
ALTER TABLE [dbo].[HRK_ItemTemplates] CHECK CONSTRAINT [CHK_HRK_ItemTemplates_BaseStats_JSON]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes]  WITH CHECK ADD  CONSTRAINT [CHK_HRK_PlayerHeroes_AuraTier] CHECK  (([AuraTier]>=(1) AND [AuraTier]<=(4)))
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] CHECK CONSTRAINT [CHK_HRK_PlayerHeroes_AuraTier]
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes]  WITH CHECK ADD  CONSTRAINT [CHK_HRK_PlayerHeroes_Stats_JSON] CHECK  (([CurrentStats] IS NULL OR isjson([CurrentStats])=(1)))
GO
ALTER TABLE [dbo].[HRK_PlayerHeroes] CHECK CONSTRAINT [CHK_HRK_PlayerHeroes_Stats_JSON]
GO
ALTER TABLE [dbo].[HRK_PlayerInventory]  WITH CHECK ADD  CONSTRAINT [CHK_HRK_PlayerInventory_Stats_JSON] CHECK  (([CurrentStats] IS NULL OR isjson([CurrentStats])=(1)))
GO
ALTER TABLE [dbo].[HRK_PlayerInventory] CHECK CONSTRAINT [CHK_HRK_PlayerInventory_Stats_JSON]
GO
ALTER TABLE [dbo].[HRK_SkillTemplates]  WITH CHECK ADD  CONSTRAINT [CHK_HRK_SkillTemplates_Phases_JSON] CHECK  (([PhaseDurations] IS NULL OR isjson([PhaseDurations])=(1)))
GO
ALTER TABLE [dbo].[HRK_SkillTemplates] CHECK CONSTRAINT [CHK_HRK_SkillTemplates_Phases_JSON]
GO
